<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>artistId</key>
	<integer>687237009</integer>
	<key>artistName</key>
	<string>Guangming Li</string>
	<key>bundleDisplayName</key>
	<string>Shadowrocket</string>
	<key>bundleShortVersionString</key>
	<string>2.1.12</string>
	<key>bundleVersion</key>
	<string>516</string>
	<key>copyright</key>
	<string>© 2014 Li Guangming</string>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>工具</string>
	<key>genreId</key>
	<integer>6002</integer>
	<key>itemName</key>
	<string>Shadowrocket</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Guangming Li</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>无限制网页访问 and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2015-04-14T02:09:18Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1006.phobos.apple.com/us/r30/Purple128/v4/1e/4a/99/1e4a99f9-7ea4-7bf3-cd3d-18300bdc05bd/icon114x114.jpeg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.liguangming.Shadowrocket</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>822962325</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>822462529</integer>
		<integer>822630889</integer>
		<integer>822877507</integer>
		<integer>822962325</integer>
	</array>
	<key>vendorId</key>
	<integer>2214883</integer>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
	<key>storeCohort</key>
	<string>7|date=1500339600000&amp;sf=143465&amp;pgtp=Software&amp;pgid=932747118&amp;prpg=Software_1194084699&amp;ctxt=App%20Store</string>
	<key>aiBuy</key>
	<true/>
	<key>aiString</key>
	<string>932747118-8</string>
</dict>
</plist>
